.tasks{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20rem 1fr ;
    justify-items: center;
    padding-bottom: 8rem;
}

.taskGroups{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    /* margin-top: -6rem; */
    grid-row: 2/-1;
}

.newTaskButton{
    width: 60%;
    height: 3rem;
    background: #2881D9;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    color: white;
    outline: none;
    border: none;
    display: none;
}

@media screen and (min-width: 1200px) {
    .tasks{
        grid-column: 1/-1;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-row: 2/-1;
        padding-top: 4rem;
        padding-bottom: 0rem;
    }

    .taskGroups{
        grid-column: 2;
        grid-row: 1/-1;
    }

    .newTaskButton{
        display: flex;
    }

}
