.App {
  width: 100vw;
  height: 100%;
  padding: 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  justify-items: center;
}

.ReactModal__Overlay--after-open{
    width: 100vw;
    background: #00000040 !important; 
    z-index: 1 !important; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}

.ReactModal__Content{
    background: transparent !important;
    border: none !important;
    width: fit-content !important;
    height: fit-content !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    inset: 0 !important;
    padding: 0 !important;
    position: relative !important; 
    overflow: hidden !important; 
}

.TestAnim path{
  stroke-dashoffset: 0;
  transition: stroke-dasharray 1s;
}

.TestAnim path{
  /* animation-name: testAnimation;
  animation-delay: var(--start);
  animation-duration: var(--end);
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-play-state: running; */
  /* animation: testAnimation var(--start) linear var(--end) forwards; */
}

@keyframes testAnimation{
  0%{
    stroke-dashoffset: 0;
  }
  50%, 100%{
    stroke-dashoffset: 1000;
    
  }
 
}

@media screen and (max-width: 500px){
  .ReactModal__Overlay--after-open{
    align-items: flex-end;
  }
}

@media screen and (min-width: 1200px) {
 
  .App{
    width: 80%;
    margin: 0 auto;
    padding: 1rem 2rem;
  }
}